<% provide(:title, @feed.name) %>
<div class="two-line-header section-header">
  <img src="../../assets/140x140.png" alt="website icon">
	<h2 class="text"><%= link_to capitalized_title(@section.name), section_path(@section) %></h2>
	<h1 class="text"><%= @feed.name %></h1>
	<p class="text lead"><%= @feed.description %> | <%= pluralize(@articles.count, 'Article')%></p>
	<div class="text">
		<!--This website has been added by <%= pluralize(@feed.users.count, 'person') %>.-->
		<%= render 'shared/follow_form' %>
		<%= link_to "Visit Online", '#', class: "btn"  %>
		<% if current_user.admin? %>
			<%= link_to "Admin: Edit", edit_feed_path(@feed), class: "btn"  %>
		<% end %>
	</div>
</div>

<% if @articles.any? %>
	<hr class="divider">
    <ul class="articles_list">
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
    </ul>
<% end %>

<hr class="divider" id="home-divider" style="visibility: hidden;">
