<% provide(:title, @article.title) %>
<div class="two-line-header">
	<h2><%= link_to capitalized_title(@section.name), section_path(@section) %></h2>
	<h1><%= @article.title %></h1>
	<p class="lead">
		<% if @article.author && @article.author != "" %>
			by <%= @article.author %>,
		<% end %>
		<%= link_to @feed.name, feed_path(@feed) %> | <span class="muted"><%= time_ago(@article.published) %></span>
	</p>
</div>
<div class="article-content">
	<%=raw @article.summary %>
	<%=raw @article.content %>
</div>

<% if !@article.content || @article.content == "" %>
	<div class="alert alert-info"><strong><%= link_to 'Open this article on ' + @feed.name + ' in a new window. ', @article.url, target: '_blank'%></strong><%= link_to 'Or view more articles from ' + @feed.name + ' on News Diamond.', feed_path(@feed)%></div>
<% end %>

<% if current_user.admin? %>
<hr class="divider">
    <%= link_to "Delete", @article, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn" %>
  <% end %>


<hr class="divider" id="home-divider" style="visibility: hidden;">

