<% provide(:title, @article.title) %>
<div class="two-line-header">
	<h2><%= link_to capitalized_title(@section.name), section_path(@section) %></h2>
	<h1><%= @article.title %></h1>
	<p class="lead">
		<% if @article.author && @article.author != "" %>
			by <%= @article.author %>,
		<% end %>
		<%= link_to @feed.name, feed_path(@feed) %> | <span class="muted"><%= time_ago(@article.published) %></span>
	</p>
</div>

<p class="lead"><%= @article.summary %></p>
<% if !@article.content || @article.content == "" %>
	<div class="alert alert-info"><strong>Hmm, it looks like the full article can only be read at it's original source.</strong> Some news sites prefer that articles be read on their website. Click the bottom-right link below to open the article on <%= @feed.name %> in a new window in your browser. When you're done reading, come back to News Diamond to discover more great articles.</div>
<% end %>
<p><%= @article.content %></p>
<div>
	<span><%= link_to '<< View more articles from ' + @feed.name + ' on News Diamond.', feed_path(@feed), class: "article-nav-links pull-left" %></span>
	<span><%= link_to 'Open this article on ' + @feed.name + ' in a new window. >>', @article.url, class: "article-nav-links pull-right" %></span>
</div>

<hr class="divider" id="home-divider" style="visibility: hidden;">

