<% provide(:title, @user.first_name) %>

<div id="example-list">

	<div class="two-line-header">
		<h1>Your Websites <%= link_to 'Add More', feeds_path, class: "lead btn btn-success center-button" %></h1>
		<h2 class="search-h2"><span id="feeds" class="stat"><%= @user.feeds.count %></span> Total <span class="lead">| Search by website name and key words:</span></h2>
		<form class="form-search">
		  <input type="text" class="input-medium search-query search">
		  <button type="submit" class="btn">Search</button>
		</form>
	</div>

	<% if @user.feeds.any? %>

	    <ul class="list feeds_list">
	      <% @user.feeds.each do |feed| %>
	        <%= render feed %>
	      <% end %>
	    </ul>
	    <div class="pagination">
	    	<ul class="pagingBottom"></ul>
	    </div>
	<% else %>
		<p class= "lead center">You're not following any websites! How about adding some?</p>
	<% end %>
	<hr class="divider">
	<div class="center">
		<h2>Did you know there are <%= @feeds.count %> websites on News Diamond?</h2>
		<%= link_to 'Find More Websites to Add to your Newspaper', feeds_path, class: "lead btn btn-success btn-large center-button" %>
	</div>
</div><!--example list-->
 
