<% provide(:title, capitalized_title(@section.name)) %>
<div class="two-line-header section-header">
  <img src="../../assets/140x140.png" alt="section icon">
	<h2 class="text">Your Websites</h2>
	<h1 class="text"><%= capitalized_title(@section.name) %></h1>
</div>

<% if @section.feeds.any? %>

  <hr class="divider">

  <div class="two-line-header">
  	<h1>All Websites in <%=capitalized_title(@section.name)%></h1>
  	<h2 class="search-h2"><%= pluralize(@section.feeds.count, 'Website', 'Total Websites') %> </h2>
    <form class="form-search">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
  <ol class="feeds">
    <%= render @feeds %>
  </ol>   
  <%= will_paginate @feeds %>
<% end %>

<% if current_user.admin? %>

  <hr class="divider">

  <h1>Add a New Website to <%= capitalized_title(@section.name) %></h1>

  <%= render 'shared/feed_form' %>

<% end %>