<% provide(:title, capitalized_title(@section.name)) %>
<div class="two-line-header section-header">
  <%= image_tag(@section.image_src, alt: "section icon") %>
	<h1 class="text"><%= capitalized_title(@section.name) %></h1>
	<h2 class="text">You follow <%= pluralize(@feeds.count, 'website')%> in this section.</h2>
	<ul class="list tiny_feeds_list text">
      <% @feeds.each do |feed| %>
        <%= link_to image_tag(feed.image_src, alt: feed.name, class: "feed-tiny-icon"), feed_path(feed) %>
      <% end %>
    </ul>
</div>

<% if @articles.any? %>
    <ul class="articles_list listing">
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
    </ul>
<% end %>

<hr class="divider" id="home-divider" style="visibility: hidden;">
